 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto+Condensed&display=swap');
 .logo
 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
 }
 .about
 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
 }
 li
 {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  transition: all .4s ease-out;
 }
 li a i
 {
  transition: all .2s ease-out;
 }
 li a i:hover
 {
  transform: translateY(-6px);
 }
.phrase
 {
  font-size: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: -8px 0 0 -14px;
 }
.carouselExample img
{
    height: 100px;
}
.carousel-item
{
    height: 15em;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.news-box
{
  height: 15rem;
  overflow-y: hidden;
}

.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: .7s;
}
.post-card {
  position: relative;
  z-index: 1;
}

.post-card.blur {
  filter: blur(5px);
}

.post-card.reading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  z-index: 2;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.custom-shape-divider-top-1679929542 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679929542 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1679929542 .shape-fill {
  fill: #ffffff;
}
.socials
{
  transition: .3s ease-in-out;
}
.socials:hover
{
  transform: translateY(-10px);
}
.newsletter
{
  background: linear-gradient(to bottom, #cccccc, white);
  padding: 60px;
}
.newsletter-input
{
  padding: 6px;
}
.newsletter-input:focus
{
  outline: none;
}
.health-post
{
  background-color: #5A9AD2;
  padding: 20px;
}
#footer-text
{
  padding-bottom: 8px;
  margin-bottom: 0;
}